@font-face {
    font-family: public-sans;
    src: url(../assets/Public_Sans/PublicSans-VariableFont_wght.ttf);
  }

* {
    box-sizing: border-box; 
} 

.nav {
    background-color: #e7e7e7; 
    color: black; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    height: 70px; 
}  

a {
    text-decoration: none;
} 

.nav a {
    color: inherit; 
    text-decoration: none;
}

.list { 
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly;  
    list-style-type: none; 
    align-items: center; 
    margin-bottom: 0; 
    text-decoration: none;
} 



@media (max-width: 576px) {

}
