@font-face {
    font-family: public-sans;
    src: url(../assets/Public_Sans/PublicSans-VariableFont_wght.ttf);
  }

.border-text {
    border: 2px solid #27325c;  
    border-radius: 10px;                  
    display: inline-block; 
} 

.text {
    color: #27325c;
}  

.width-response {
    width: 60vw
}


@media(max-width: 668px) { 
    .width-response {
        width: 80vw 
    }
}
